.apSectionBar {
	BACKGROUND-COLOR: #9c9c63; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftSectionBarB {
	BACKGROUND-COLOR: #63bcbc; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftSectionBarR {
	BACKGROUND-COLOR: #99bcbc; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftSectionBarRed {
	BACKGROUND-COLOR: #bc6363; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.centerSectionBarR {
	BACKGROUND-COLOR: #99bcbc; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-INDENT: 3px
}
.centerSectionBarPurple {
	BACKGROUND-COLOR: #9999cc; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-INDENT: 3px
}
.leftSectionBarPurple {
	BACKGROUND-COLOR: #9999cc; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.apLHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.apRHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.apCHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.apCHeader2 {
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 42px; TEXT-ALIGN: center
}
.apCHeaderG {
	BACKGROUND-COLOR: #9c9c63; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-INDENT: 3px
}
.SAOText {
	COLOR: black; FONT: 7pt Arial; HEIGHT: 15px; TEXT-ALIGN: left; TEXT-INDENT: 20px
}
.SAOCritHeader {
	COLOR: black; FONT: 8pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 10px
}
.SAOCritHeader2 {
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 15px
}
.SAOCritHeader3 {
	COLOR: black; FONT: 8pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; BACKGROUND-COLOR: #C0C0C0; FONT-WEIGHT: bold;
}
.apBgBlk {
	BACKGROUND-COLOR: #cccc99
}
.apGroupingBar {
	BACKGROUND-COLOR: #9c9c63; FONT: 1pt/2pt Arial; HEIGHT: 2px
}
.ppBar {
	BACKGROUND-COLOR: #999999; COLOR: black; FONT: 8pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px; WIDTH: 768px
}
.ioCHeader {
	BACKGROUND-COLOR: #99cccc; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.aaCHeader {
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.aaLHeader {
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.aaRHeader {
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right
}
.trCHeader {
	BACKGROUND-COLOR: #deded6; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.trRHeader {
	BACKGROUND-COLOR: #deded6; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right
}
.trLHeader {
	BACKGROUND-COLOR: #deded6; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.leftContentG {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftContentW {
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftSmallContentW {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 0px
}
.leftContentO {
	BACKGROUND-COLOR: #ffcc66; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftContentG2 {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 42px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftContentW2 {
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 42px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftInputW {
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftInputG {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.rightInputW {
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.rightInputG {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.italicRightInputW {
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px; font-style: Italic
}
.italicRightInputG {
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px; font-style: Italic
}

.whiteBgBlk {
	BACKGROUND-COLOR: #ffffff
}
.textRT {
	FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.textLT {
	FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}

.numericContentW
{
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px; behavior:url(numeric.htc);
}
.numericContentG
{
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px; behavior:url(numeric.htc);
}
.sectionBar
{
	BACKGROUND-COLOR: #9c9c63; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.centerHeaderG
{
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.leftHeaderG
{
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftHeaderB
{
	BACKGROUND-COLOR: #99cccc; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.leftHeaderR
{
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.rightHeaderG
{
	BACKGROUND-COLOR: #cccc99; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.rightHeaderR
{
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right
}
.buttonBgG
{
	BACKGROUND-COLOR: #cccc99
}
.buttonBgW
{
	BACKGROUND-COLOR: #ffffff
}
.buttonBgR
{
	BACKGROUND-COLOR: #dcdcdc
}
.rightHeaderB
{
	BACKGROUND-COLOR: #99cccc; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.centerHeader
{
	BACKGROUND-COLOR: #deded6; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.centerHeaderB
{
	BACKGROUND-COLOR: #99cccc; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.centerHeaderR
{
	BACKGROUND-COLOR: #cc9999; COLOR: #000000; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.centerHeaderP
{
	BACKGROUND-COLOR: #996666; COLOR: #FFFFFF; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.leftHeaderP
{
	BACKGROUND-COLOR: #996666; COLOR: #FFFFFF; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.rightHeader
{
	BACKGROUND-COLOR: #deded5; COLOR: black; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.transHeaderL
{
	FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.groupingBarG
{
	BACKGROUND-COLOR: #9c9c63; FONT: 1pt/2pt Arial; HEIGHT: 2px
}
.groupingBar
{
	BACKGROUND-COLOR: #deded6; FONT: 1pt/2pt Arial; HEIGHT: 2px
}
.groupingBarS
{
	BACKGROUND-COLOR: #deded6; FONT: 1pt/2pt Arial; HEIGHT: 1px
}

.textLink
{
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right
}
.textLinkLT
{
	FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left
}
.centerContentW
{
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.centerContentG
{
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
.leftContentG
{
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.leftContentW
{
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: left; TEXT-INDENT: 3px
}
.rightContentW
{
	BACKGROUND-COLOR: #ffffff; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.rightContentG
{
	BACKGROUND-COLOR: #dcdcdc; FONT: 7.5pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; TEXT-INDENT: 3px
}
.rightContentDG
{
	BACKGROUND-COLOR: #bcbcbc; FONT: 8pt/14pt Arial; HEIGHT: 20px; TEXT-ALIGN: right; RIGHT-TEXT-INDENT: 3px
}

#creativemenu
{
    cursor: hand;
    background-image:url(/images/large_buttonface.gif);
    background-position:top center;
    border:none;
    height: 20px;
    width: 95px;
}

#creativemenu .creativepopup
{
    position:absolute; display:none;
    background:#deded6;width:70px; margin:2pt;border:2px white outset;border-style:2px gray inset;
}

#creativemenuitem
{
   width:100%;
   padding-top:2px;
   color: #000000;
   font-family: Arial;
   font-size: 10px;
   font-weight: Normal;
   text-transform: none;
   letter-spacing: 0mm;
}

#creativemenusubitem
{
    width:100%;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background:#deded6;
}

.CM_centerHeaderG_Bold
{
    BACKGROUND-COLOR: darkgray;
    COLOR: black;
    FONT: bold 8.5pt/14pt Arial;
    HEIGHT: 20px;
    MARGIN-TOP: 2px;
    POSITION: absolute;
    TEXT-ALIGN: center;
    text-transform: none
}
.CM_leftContentG
{
    BACKGROUND-COLOR: #dcdcdc;
    FONT: 7.5pt/14pt Arial;
    HEIGHT: 20px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TEXT-INDENT: 3px
}
.CM_leftContentW
{
    BACKGROUND-COLOR: #ffffff;
    FONT: 7.5pt/14pt Arial;
    HEIGHT: 20px;
    POSITION: absolute;
    TEXT-ALIGN: left;
    TEXT-INDENT: 3px
}
.CM_toolBarB
{
    BACKGROUND-COLOR: #a4b9b9;
    COLOR: black;
    FONT: 7.5pt/14pt Arial;
    HEIGHT: 20px;
    MARGIN-TOP: 2px;
    POSITION: absolute;
    TEXT-ALIGN: center
}
.CM_silverBtn
{
    BACKGROUND-COLOR: silver;
    COLOR: #000000;
    CURSOR: hand;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8.5pt;
    FONT-WEIGHT: bold;
    HEIGHT: 18px;
    LINE-HEIGHT: 0.85;
    text-transform: none;
    WIDTH: 80px
}
.CM_regularBold
{
    BACKGROUND-COLOR: transparent;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8.5pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    text-transform: none
}
.CM_largeBold
{
    BACKGROUND-COLOR: transparent;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 9.5pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    text-transform: none
}
.CM_smallBold {
	BACKGROUND-COLOR: transparent;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 7.5pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	text-transform: none
}
.CM_regularStyle
{
    BACKGROUND-COLOR: transparent;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 8.5pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal
}

.rendVersionButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/tinybutton-brown.jpg);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 20px;
    left:29px;
    top:0px;
    position:absolute;
}

.tinyStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/tinybutton-brown.jpg);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 20px;
}

.largeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/large_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 95px;
}

.blueLargeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Western Black;
    font-size: 12px;
    font-weight: Bold;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/blue_large_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 95px;
}

.dotLargeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/dot_large_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 95px;
}
.dotXLargeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/dot_XL_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 120px;
}

.XLargeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/XL_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 120px;
}

.XXLargeStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/XXL_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 150px;
}

.medStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 76px;
}

.medTallStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/med_tall_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 40px;
    width: 76px;
}

.medItalicStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 9pt;
    font-style: Italic;
    font-weight: Bold;
    text-transform: none;
    letter-spacing: 0.1mm;
    background-image:url(/images/med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 76px;
}

.medGreyStyleButton
{
    color: #808080;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 76px;
}

.brownBigStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: capitalize;
    letter-spacing: 0mm;
    background-image:url(/images/brown_big_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 125px;
}

.brownMedStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/brown_med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 80px;
}

.dotMedStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/dot_med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 76px;
}

.dotBrownMedStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/dot_brown_med_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 76px;
}

.brownNarrowStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/brown_narrow_buttonface.gif);
    background-position:top center;
    border:none;
    height: 16px;
    width: 80px;
}

.smallStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/small_buttonface.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 40px;
}

.sBlankTab
{
    BACKGROUND-IMAGE: url(/images/stBlank.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: white thin;
    BORDER-LEFT: white thin;
    BORDER-RIGHT: white thin;
    BORDER-TOP: white thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 122px
}
.mBlankBTab
{
    BACKGROUND-IMAGE: url(/images/mtblankB.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 100px
}
.mBlankFLTab
{
    BACKGROUND-IMAGE: url(/images/mtblankFL.gif);
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 112px
}
.mBlankFRTab
{
    BACKGROUND-IMAGE: url(/images/mtblankFR.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 111px
}
.mBlankLTab
{
    BACKGROUND-IMAGE: url(/images/mtblankL.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 100px
}
.mBlankRTab
{
    BACKGROUND-IMAGE: url(/images/mtblankR.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 100px
}
.mBlankMTab
{
    BACKGROUND-IMAGE: url(/images/mtmiddle.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
    PADDING-TOP: 5px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 102px
}
.tBlankTab
{
    BACKGROUND-IMAGE: url(/images/T1blank.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 170px
}
.tBlankBTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankB.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}
.tBlankLTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankL.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}
.tBlankMTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankM.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}
.tBlankRTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankR.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}
.tBlankFLTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankFL.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}
.tBlankFRTab
{
    BACKGROUND-IMAGE: url(/images/T1BlankFR.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    BORDER-BOTTOM: thin;
    BORDER-LEFT: thin;
    BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    COLOR: black;
    FONT-FAMILY: 'Arial Black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 24px;
    PADDING-TOP: 8px;
    PAGE-BREAK-BEFORE: auto;
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: none;
    WIDTH: 140px
}

.centerContentNoBG
{
	FONT: 8pt/14pt Arial;
    HEIGHT: 20px;
    TEXT-ALIGN: center;
    TEXT-INDENT: 3px;
}

.clsTabSelected
{
	BACKGROUND-COLOR: #deded6;
    COLOR: black;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    PADDING-RIGHT:0px;
    TEXT-ALIGN: center;
    WIDTH: 140px
}

.clsTabUnselected
{
	BACKGROUND-COLOR: #efefe7;
    COLOR: black;
	CURSOR: hand;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 140px
}

.clsTabBar
{
	OVERFLOW:	hidden;
	POSITION:	absolute;
	TOP:		1px;
	WIDTH:		1000px;
}

.clsSubTabScrollTextActive
{
	BACKGROUND-COLOR: #bfbfbf;
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
	CURSOR: hand;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
	HEIGHT: 18px;
    TEXT-ALIGN: center;
	WIDTH: 22px;
}

.clsSubTabScrollTextInactive
{
	BACKGROUND-COLOR:	#bfbfbf;
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
    FONT-FAMILY:		'arial lightgray';
    FONT-SIZE:			8pt;
    FONT-WEIGHT:		lighter;
	HEIGHT:				18px;
    TEXT-ALIGN:			center;
	WIDTH:				22px;
}

.clsSubTabNoScroll
{
	HEIGHT: 18px;
	WIDTH:	22px;
}

.clsSubTabSelectedWithMenuItems
{
	BACKGROUND-COLOR: #babaee;
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
    COLOR: black;
	CURSOR: hand;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 18px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 112px
}

.clsSubTabSelectedWithoutMenuItems
{
	BACKGROUND-COLOR: #babaee;
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
    COLOR: black;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 18px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 112px
}


.clsSubTabSelected
{
	BACKGROUND-COLOR: #deded6;
    COLOR: black;
	CURSOR: default;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 18px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 112px
}

.clsSubTabUnselected
{
	BACKGROUND-COLOR: #efefe7;
    COLOR: black;
	CURSOR: hand;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 18px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center;
    WIDTH: 112px
}

.clsToolbarOverButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-left:1px solid buttonhighlight;
    border-top:1px solid buttonface;
    padding:1px;
    cursor:hand;

    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;

	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
}


.clsToolbarOverDotButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-left:1px solid buttonhighlight;
    border-top:1px solid buttonface;

	background-image:url(/images/sel.gif);
	background-repeat:no-repeat;
    background-position:center left;
    background-position-x:10px;
    padding:1px;
    cursor:hand;

    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;

	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
}

.clsToolbarDownButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-right:1px solid buttonhighlight;
    border-bottom:1px solid buttonhighlight;
    padding:2px;
    padding-bottom:0px;
    padding-right:0px;
    cursor:hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
}

.clsToolbarDownDotButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-right:1px solid buttonhighlight;
    border-bottom:1px solid buttonhighlight;
	background-image:url(/images/sel.gif);
	background-repeat:no-repeat;
    background-position:center left;
    background-position-x:10px;
    padding:2px;
    padding-bottom:0px;
    padding-right:0px;
    cursor:hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
}

.clsToolbarNormalButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-left:1px solid buttonhighlight;
    border-top:1px solid buttonface;
    padding:1px;
    cursor:hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
}

.clsToolbarNormalDotButton
{
    background-color:#deded6;
    border:2px solid buttonshadow;
    border-left:1px solid buttonhighlight;
    border-top:1px solid buttonface;
	background-image:url(/images/sel.gif);
	background-repeat:no-repeat;
    background-position:center left;
    background-position-x:10px;
    padding:1px;
    cursor:hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN:     center;
};


.clsSubTabMenu
{
	BACKGROUND-COLOR: #babaee;
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
	CURSOR: hand;
	FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
	PADDING: 5px 5px 5px 8px;
	POSITION: absolute;
	WIDTH: 116px;
	VISIBILITY: hidden;
}

.clsSubTabBar
{
	OVERFLOW:	hidden;
	POSITION:	absolute;
	TOP:		35px;
	WIDTH:		1000px;
}

.clsToolbarButtonSearch
{
	BACKGROUND-IMAGE: url(/images/bmag.gif);
	BACKGROUND-POSITION: left center;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: center left;
	CURSOR:			hand;
	HEIGHT:			20px;
	WIDTH:			22px;
}

.clsToolbarButtonHelp
{
	BACKGROUND-IMAGE: url(/images/help.gif);
	BACKGROUND-POSITION: left center;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: center left;
	CURSOR:			hand;
	HEIGHT:			20px;
	WIDTH:			22px;
}

.clsToolbarButtonChangeLog
{
	BACKGROUND-IMAGE: url(/images/bbcl.gif);
	BACKGROUND-POSITION: left center;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: center left;
	CURSOR:			hand;
	HEIGHT:			20px;
	WIDTH:			22px;
}

.clsToolbarNoButton
{		
	WIDTH: 18px;
}

.clsToolbarButton
{
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
	CURSOR:			hand;
    FONT-FAMILY:	'arial black';
    FONT-SIZE:		8pt;
    FONT-WEIGHT:	lighter;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN: center;
};

.clsToolbarButtonDot
{
	BORDER:					0.02cm inset gray;
	BORDER-BOTTOM-WIDTH:	0.08cm;
	BORDER-RIGHT-WIDTH:		0.08cm;
	CURSOR:			hand;
	background-image:url(/images/sel.gif);
	background-repeat:no-repeat;
	background-position:center left;
    FONT-FAMILY:	'arial black';
    FONT-SIZE:		8pt;
    FONT-WEIGHT:	lighter;
	HEIGHT:			18px;
	WIDTH:			98px;
	TEXT-ALIGN: center;
};

.clsToolbarScrollTextActive
{
	CURSOR:				hand;
    FONT-FAMILY:		'arial black';
    FONT-SIZE:			8pt;
	HEIGHT:				18px;
    TEXT-ALIGN:			center;
	WIDTH:				22px;
}

.clsToolbarScrollTextInactive
{
    FONT-FAMILY:		'arial lightgray';
    FONT-SIZE:			8pt;
	HEIGHT:				18px;
    TEXT-ALIGN:			center;
	WIDTH:				22px;
}

.clsToolbarNoScroll
{
	HEIGHT:		18px;
	WIDTH:		22px;
	CURSOR:		default;
}

.clsToolbar
{
	POSITION:	relative;
	TOP:		7px;
	LEFT:		140px;
	OVERFLOW:	hidden;
	WIDTH:		100%;
	HEIGHT:		24px;
}


.SelectDiv
{
	FONT: 7.5pt/14pt Arial;
    TEXT-ALIGN: left;
    TEXT-INDENT: 3px;
    overflow:auto;
    border:1px solid black;
}

.xmlStoreBehavior 
{ 
    behavior:url (#default#userData); 
}

.OperatorStyleButton
{
    color: #000000;
    cursor: hand;
    font-family: Arial;
    font-size: 10px;
    font-weight: Normal;
    text-transform: none;
    letter-spacing: 0mm;
    background-image:url(/images/bkbutton_short.gif);
    background-position:top center;
    padding-top:2px;
    border:none;
    height: 20px;
    width: 50px;
}

.clsHeaderText
{
    COLOR: black;
    FONT-FAMILY: 'arial black';
    FONT-SIZE: 8pt;
    FONT-WEIGHT: lighter;
    HEIGHT: 20px;
	OVERFLOW: hidden;
    PADDING-TOP: 0px;
    PADDING-RIGHT:0px;
    TEXT-ALIGN: center;
}

.menuNetworkLogo
{
	WIDTH:100%;HEIGHT:100%;
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION-X:5;
	BACKGROUND-COLOR:#deded6;
}

/* DFP6/Dashboard style - Start */
.mask { 
    background-color: #CCC;
    display: none;
    opacity: .50;
        -moz-opacity: 0.5;
        filter: alpha(opacity=50);
    position: absolute;
        top: 0;
        left: 0;
    z-index: 1;
}

* html body.masked select {
    visibility: hidden; /* fixes an IE bug where select elements appear on top of the mask */
}
/* DFP6/Dashboard style - End */
table.bg_length {
	background-image: url(../images/header.png);
}

<!--
/* For Calendar Control */
/* Logo section - help and login  */
.userLoginName { color: #808080; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* displays what name the user is login as */ 



/* Bread crumb - top section */
.mainModualName { color: #ffffff; font-size: 12pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* Moduale name - big */ 
.breadCrumb { color: #ffffff; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* Bread crumb */ 
.breadCrumbSelected { color: #ffffff; font-size: 8pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* Bread crumb bold - where you are now  */ 



/* Left navagation link section */
.navLinkMain { color: #DADADA; font-size: 10pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* upper level link - bold */ 
.navLinkMainSelected { color: #4B4B4B; font-size: 10pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* upper level link - bold in the curve */ 

.navLinkSub { color: #ffffff; font-size: 10pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* upper level link  */ 
.navLinkSubSelected { color: #000000; font-size: 10pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* upper level link - in the curve */ 



/* content section date text */
.dateText { color: #02567F; font-size: 10pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* for the date section - below the Icon row */ 



/* content link section*/
.contentLinkDefault { color: #1701BC; font-size: 10pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* default link text - content section */  
.contentLinkBold { color: #1701BC; font-size: 10pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* default link text bold - content section */ 


/* content text formating */
.contentTextSmall { color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction small text */ 
.contentTextMedium { color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction medium text  */ 
.contentTextDefault { color: #000000; font-size: 9pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction default text */ 
.contentTextBold { color: #000000; font-size: 9pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction default text bold */ 

A:hover
{
    TEXT-DECORATION: underline
}
.contentlinkSmallCal { color: #333333; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none; cursor: hand;}  /* content sction small text */
.contentlinkSmallCalLight { color: #999999; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction small text */
.contentlinkSmallCalCurrent { color: #333333; font-size: 9pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction small text */ 

/* content text formating */
.statusContent { color: #000000; font-size: 9pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* content sction medium text  */ 

/* Form elements */
.comboBox { background: #f1f1f1; color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* combo boxes content section */ 
.textFild { background: #f1f1f1; color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* text Fild */ 
.comboBoxNav { background: #D5D5D5; color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* combo boxes navagation section */ 
.textFildWhite { background: #ffffff; color: #000000; font-size: 8pt; font-weight: normal; font-family: Arial, Helvetica, sans-serif; text-decoration: none;}  /* text Fild - white bg */ 


/* Table background  */
.bgPalletAnchor { background: #D5D5D5; } /* Gray table background colour - the gray that anchor the content pallet and connect it to the nav */ 
.bgWhite { background: #ffffff; } /* White table background colour */ 
.bgMainButtonIcons { background: #E9E9D8; } /* White table background colour */ 
.bgContentSubHeaders { background: #F9F8E8; } /* lite yellow heathers */ 
.bgContentHeaders { background: #CBDAE2; } /* White table background colour */ 
.TableBorder { background: #9C9C63; } /* Green table border colour */ 
.bgDataLayoutWhite { background: #ffffff; } /* White table background colour */ 
.bgDataLayoutLiteGray { background: #F3F3F3; } /* Lite Gray table background colour */ 
.bgCalendar { background: #9C9C63; } /* Calendar Dark background colour */ 
.bgCalendarDays { background: #F0EED8; } /* Calendar Day background colour */ 
.bgCalendarDates { background: #DFEDF5; } /* Calendar Dates background colour */ 
.bgCalendarDatesSelected { background: #B7D3E2; border: 1px solid #000000} /* Calendar Current Date */ 
.bgCalendarDatesSche { background: #DFEDF5} /* Calendar Selected/Shedule Date */ 
.bgCalendarDatesLight { background: #f4f4f4; } /* Calendar Dates background for Prev-Next Months Dates colour */ 
-->
